<!DOCTYPE html>
<html lang="en">
<head>

    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DN6EVNMDQP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DN6EVNMDQP');
</script>


	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    <link rel="icon" type="image/webp" href="/images/favicon.webp">
    <link rel="icon" type="image/png" href="/images/favicon.png">

{{ if .IsPage }}
    {{ if .Params.meta }}
        <meta name="description" content="{{ .Params.meta }}">
    {{ else }}
        <meta name="description" content="Since 2015, Uncoded has fostered community spirit among technology professionals and enthusiasts in Long Beach, CA.">
    {{ end }}
    {{ else }}
        <meta name="description" content="Since 2015, Uncoded has fostered community spirit among technology professionals and enthusiasts in Long Beach, CA.">
{{ end }}

    <meta name="keywords" content="Long Beach tech education, Career development Long Beach, Employment opportunities in Long Beach, Long Beach tech jobs, Long Beach tech networking, Tech training Long Beach, Long Beach tech community, Long Beach IT support, Long Beach computer skills training, Long Beach coding classes, Job placement Long Beach, Long Beach job search, Long Beach job resources, Long Beach career counseling, Long Beach job readiness, Long Beach job skills, Long Beach job training, Long Beach tech support">
    <meta name="author" content="Unocded.org">
  
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="msnbot" content="index, follow">
    <meta name="apple-mobile-web-app-title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
    <meta name="application-name" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">
    <meta property="og:url" content="{{ .Permalink }}" />

    {{ if .Params.image }}
      <meta property="og:image" content="{{ .Params.image }}">
    {{ else }}
      <meta property="og:image" content="/images/uncoded.webp">
    {{ end }}

    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">

</head>

<body>
<div class="tophat">
    <div class=" margin-box">
        <div class="margin-box">
            <div class="twocol">
                <div class="col1">
                    <a href="/">
                     <div class="logobox">
                     <img class="logo" alt="Uncoded" src="/images/uncoded-button-logo.svg">
                        <h1>Uncoded</h1>
                    </div>
                </a>
                </div>
                <div class="col2">
					<ul class="social-icons">
                        <li><a target="_blank" href="https://github.com/uncodedlb"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" rel="me" href="https://mas.to/@uncoded"><i class="fa fa-mastodon" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="https://www.youtube.com/@uncodedlb"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.eventbrite.com/e/hacknight-irl-tickets-407221439287"><img alt="Eventbrite" src="/images/eventbrite-favicon.webp"></a></li>
						<li><a target="_blank" href="https://twitter.com/uncodedlb"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/uncodedlb/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a target="_blank" href="/index.xml"><i class="fa fa-rss-square" aria-hidden="true"></i></a></li>
					</ul>
                <ul class="nav">
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/blog/">Blog</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content margin-box">
