{{ partial "header.html" . }}
<h1>About Us</h1>
<p>Since 2015, Uncoded has fostered community spirit among technology professionals and enthusiasts in Long Beach, CA. We host regular social events at which attendees can form new contacts, receive advice on job-hunting, and geek out on everything from open-source software to hydroponics to 3D printing.</p>

<h3>Come join us at Hack Night</h3>
<p>
    Every Tuesday, 7pm at <a href="https://www.kennedyslb.com/">Kennedy's LB</a>. Anyone involved in technology or passionate about it is encouraged to attend, regardless of skill level.
</p>
<a target="_blank" class="button" href="https://www.eventbrite.com/e/hacknight-irl-tickets-407221439287">Eventbrite</a>


<div class="twocol">
    <div class="col1">
        <h3>Mission</h3>
        <p>
            To create and inspire a passionate, sharing, and inventive local tech culture through open, inclusive engagement with our community.
        </p>
    </div>
    <div class="col2">
        <h3>Vision</h3>
        <p>
            We imagine a city where community life goes hand-in-hand with technology, and where people freely share ideas and software
        </p>
    </div>
</div>

</div>

 



{{ partial "footer.html" . }}