{{ partial "header.html" . }}
<h1>About Us</h1>
<p>Since 2015, Uncoded has fostered community spirit among technology professionals and enthusiasts in Long Beach, CA. We host regular social events at which attendees can form new contacts, receive advice on job-hunting, and geek out on everything from open-source software to hydroponics to 3D printing.</p>

<div class="twocol">
    <div class="col1">
        <h3>Mission</h3>
        <p>
            To create and inspire a passionate, sharing, and inventive local tech culture through open, inclusive engagement with our community.
        </p>
    </div>
    <div class="col2">
        <h3>Vision</h3>
        <p>
            We imagine a city where community life goes hand-in-hand with technology, and where people freely share ideas and software
        </p>
    </div>
</div>

</div>

<div class="pillars">

    <div class="content margin-box">
    <h2>Our Pillars</h2>
    <div class="pill-3col">
        <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h3>Advocacy</h3>
        </div>
        <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h3>Community & Networking</h3>
        </div>
        <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <h3>Business</h3>
        </div>
    </div>
</div>
</div>

<div class="content margin-box initiatives">

<h2>Active Initiatives</h2>

    <div class="twocol">
        <div class="col1 darkbox">
            <h3>Hack Night</h3>
            <p>
                A weekly event, and our most popular one. Anyone involved in technology or passionate about it is encouraged to attend, regardless of skill level.
            </p>
            <a target="_blank" class="button" href="https://www.eventbrite.com/e/hacknight-irl-tickets-407221439287">Eventbrite</a>
        </div>
        <div class="col2 darkbox">
            <h3>Tech Working</h3>
            <p>
                Join Uncoded for an evening of networking and conversation with other members of Long Beach’s tech community. This networking event is open to anyone working in, tinkering with, or interested in technology.
            </p>
        </div>
    </div>

    <div class="twocol">
        <div class="col1 darkbox">
            <h3>Adæpt</h3>
            <p>
                For those who are new to technology, Adaept offers resources on topics including coding, design, and business.
            </p>
            <a target="_blank" class="button" href="https://adaept.design/">Check Out Adæpt</a>
        </div>
        <div class="col2 darkbox">
            <h3>Barn Raising</h3>
            <p>
                Uncoded is implementing a new model of hacktivism which identifies and centers the needs of the community.
            </p>
        </div>
    </div>

</div>

{{ partial "footer.html" . }}